.HomeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  min-height: 100vh;
  transition: color 0.3s ease;
}

.FormWrapper{
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

.homepagelogo{
  height: 80px;
  margin-bottom: 20px;
}

.inputGroup{  
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.inputField{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  font-size: 16px;
  background-color: #eee;
  font-weight: bold;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.joinButton{
  color: #000;
   background-color: #2e6aeb;
   width: 100px;
   margin-left: auto;
}

.joinButton:hover{
  background-color: #163986;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #2e6aeb;
  text-decoration: none;
  border-bottom: 1px solid #2e6aeb;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover{
  color: #163986;
  border-color: #163986;
}

.editorPage{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background-color: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.asideInnerContainer{
  flex:1;
}

.connectedUsersContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName{
  margin-top: 7px;
}

.leaveBtn{
  width: 100%;
  margin-top: 20px;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

  